# MATLAB Test Pipeline
#
# Choose between a self-hosted or Microsoft hosted agent.
# (The agent is the computer than runs the tests.)
#
# Refer to these websites for help when modifying this file:
# https://marketplace.visualstudio.com/items?itemName=MathWorks.matlab-azure-devops-extension
# https://qmrlab.org/2020/06/16/matlab-ci.html
# https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-linux?view=azure-devops
# https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/dotnet-core-tool-installer?view=azure-devops&viewFallbackFrom=azure-devops.

trigger:
- master

########### Self-Hosted Agent ###########
#pool: Default
#steps:
#  - bash: echo '##vso[task.prependpath]/usr/local/MATLAB/R2020b/bin'  # Linux agent
#
#  - task: UseDotNet@2
#    displayName: 'Use .NET Core sdk'
#    inputs:
#      packageType: sdk
#      version: 2.2.203
#      installationPath: $(Agent.ToolsDirectory)/dotnet
##########################################

########### Microsoft-Hosted Agent ###########
pool:
  vmimage: ubuntu-latest
steps:
  - task: InstallMATLAB@1
    inputs:
      release: latest
      products: >
        Parallel_Computing_Toolbox
        Image_Processing_Toolbox
##############################################
  
  - task: RunMATLABTests@1
    inputs:
      useParallel: true
      codeCoverageCobertura: 'code-coverage/coverage.xml'
      selectByFolder: testing/testarchive;testing/tests_long
      sourceFolder: 'lib:models:setup'
      testResultsJUnit: 'test-results/results.xml'
  - task: PublishTestResults@1
    condition: succeededOrFailed()
    inputs:
      testResultsFiles: 'test-results/results.xml'

  # # Deprecated code coverage with v1
  # - task: PublishCodeCoverageResults@1
  #   inputs:
  #     codeCoverageTool: Cobertura
  #     summaryFileLocation: 'code-coverage/coverage.xml'

  # Attempt at v2 usage from
  # https://stackoverflow.com/questions/79323701/how-to-properly-upgrade-from-publishcodecoverageresults1-to-publishcodecoverage
  # https://learn.microsoft.com/en-us/azure/devops/pipelines/ecosystems/customize-python?view=azure-devops

  - task: UseDotNet@2  # DotNet Might be needed for PublishCodeCoverageResults@2
    displayName: 'Install .NET Core SDK'
    inputs:
      packageType: 'sdk'
      version: '8.x'
      performMultiLevelLookup: true
      includePreviewVersions: true
  - script: |
      dotnet --version
    displayName: 'Check .NET SDK Version'

  - task: PublishCodeCoverageResults@2
    displayName: 'Publish Code Coverage'
    inputs:
      codeCoverageTool: Cobertura
      summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/coverage.xml'
      failIfCoverageEmpty: true
